@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

:root {
  --main-white-color: #f0f0f0;
  --main-black-color: rgb(19, 15, 15);
  --main-purple-color: #9e89b8;
  --main-red-color: #ec2121;
}


button:hover::before {
  outline: none;
  cursor: pointer;
}

button{
  background: var(--main-black-color);
  color: var(--main-white-color)
}

button:hover{
  background: var(--main-black-color);
  color:var(--main-red-color);
  cursor: pointer;
}

button:hover::after{
  background: none;
  outline: none;
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--main-black-color);
}

.page-header nav ul a:hover{
  color:var(--main-red-color);
}

#active{
  color: var(--main-red-color);
}

body {
  font: 16px/1.5;
  background: var(--main-white-color);
}

/* CONTAINER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper > * {
  padding: 20px;
}


/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header {
  background: var(--main-white-color);
}
.page-header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.logo:hover{
color: var(--main-red-color);
cursor: crosshair;
}
.page-header ul {
  display: flex;
  order: 1;
  width: 100%;
  margin-top: 15px;
}

.page-header ul li:not(:last-child) {
  padding-right: 15px;
}

.page-header .cta-contact {
  font-family: inherit;
  font-size: 1.2rem;
  padding: 5px 18px;
  border: 1px solid;
  border-radius: 5px;
}


/* MAIN
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  min-height: 350px;
  background: var(--main-black-color)
    url("/images/background.jpg") no-repeat
    center / cover;
  background-blend-mode: luminosity;
  color: var(--main-white-color);
}

.page-main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: auto;
}

.page-main h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.page-main p{
  font-size: 1.5rem;
}
.page-main p + p {
  margin-top: 10px;
}

.page-main button{
  margin-top: 30px;
}

/* ------------------------------------------- */
/* HOME */
.btn-click{
  outline: none;
}

 .btn-click:hover{
  background: var(--main-red-color);
  color: var(--main-white-color);
}

/* END OF HOME */



/* ABOUT */

.about-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  min-height: 350px;
  background: var(--main-black-color)
  url("/images/background2.jpg") no-repeat
  center;
  background-blend-mode: luminosity;
  color: var(--main-white-color);
}

.about-main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: auto;
}

.about-main h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.about-main p{
  font-size: 1.5rem;
}
.about-main p + p {
  margin-top: 10px;
}

.about-main button{
  margin-top: 30px;
}

.image-wrapper{
  position: relative;
}
.image-wrapper img{
  margin-top: 30px;
  border-radius: 2%;
  height: 60vh;
  width: 50vw;
}

.title-wrapper{
  margin-top: 20px;
}
.title-wrapper h1:hover{
  color: red;
  cursor: crosshair;
}

.aboutp{
  line-height: 2.5rem;
  text-align: justify;
}
.aboutp p{
  width: 90%;
  margin: auto auto;
}

.stack-wrapper{
  margin-top: 20px;
}

.stack-wrapper h1:hover{
  color: var(--main-red-color);
  cursor: crosshair;
}

.stack-wrapper div ul{
  display: flex;
  flex-direction: unset;
}
.stack-wrapper div ul{
 flex-direction: row;
}

.stack-wrapper div ul li{
  width: 90%;
  margin: auto 1rem;
}

.fab:hover{
  color: var(--main-red-color);
}

/* END OF ABOUT */


/* PORTFOLIO */
.page-main .folioh1:hover{
  color:var(--main-red-color);
  cursor: crosshair;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 500px;
  height: 300px;
  border: none;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color:var(--main-white-color);
  color:var(--main-black-color);
}

/* Style the back side */
.flip-card-back {
  background-color:var(--main-white-color);
  color: var(--main-black-color);
  transform: rotateY(180deg);
}

.flip-card-back a button{
  padding: 5px 18px;
  font-family: inherit;
    font-size: 1.2rem;
    padding: 12px 22px;
    border: none;
    border-radius: 5px;
}

/* END OF PORTFOLIO */


/* ------------------------------------------- */

  .button-wrapper .btn-click {
    background: var(--main-white-color);
    color: var(--main-black-color);
    outline: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 12px 22px;
    border: none;
    border-radius: 5px;
  }
  
  .button-wrapper .btn-click:hover{
    background: var(--main-white-color);
    color: var(--main-red-color);
    outline: none;
  }
  
  .button-wrapper .btn-click:hover::after{
    background: none;
    outline: none;
  }



/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  display: flex;
  flex-direction: column-reverse;
  color: var(--main-black-color);
  background: var(--main-white-color);
  height: 10vh;
  padding: 15px;
}

.page-footer ul {
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.page-footer ul li:not(:last-child) {
  margin-right: 20px;
}

.page-footer small:hover{
  color: var(--main-red-color);
  cursor: crosshair;
}


/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 550px) {
  .page-header ul {
    width: auto;
    margin-top: 0;
  }

  .page-header .cta-contact {
    order: 1;
  }
/* about */
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer ul {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }

  .page-main {
    padding-left: 90px;
  }
}

